<!--
	Unicorn.Bootstrap.config

	https://github.com/cassidydotdk/Unicorn.Bootstrap
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <pipelines>
      <initialize>
        <processor type="Unicorn.Bootstrap.Pipelines.Initialize.Bootstrap, Unicorn.Bootstrap" />
      </initialize>
    </pipelines>
	</sitecore>
</configuration>
